/* Add CSS Styling */

.text
.textme {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman," sans-serif;
}

.text {
    background-color: black;
    color: white;
}

.textme {
    background-color: yellow;
}
